<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Fredden_JavaScriptErrorReporting::view"
            title="JavaScript Error Reporting"
            module="Fredden_JavaScriptErrorReporting"
            sortOrder="1000"
            parent="Magento_Reports::report"
            resource="Fredden_JavaScriptErrorReporting::view"
            action="fredden/JavaScriptErrorReporting/grid"
            />
    </menu>
</config>
