<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="system">
            <group id="fredden_javascript_error_reporting"
                    translate="label"
                    showInDefault="1"
                    showInWebsite="1"
                    showInStore="1"
                    sortOrder="2000">
                <label>JavaScript Error Reporting</label>
                <field id="enabled"
                        translate="label"
                        type="select"
                        sortOrder="10"
                        showInDefault="1"
                        showInWebsite="1"
                        showInStore="1"
                        canRestore="1">
                    <label>Record errors</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="days_to_keep"
                        translate="label comment"
                        type="text"
                        sortOrder="20"
                        showInDefault="1"
                        showInWebsite="0"
                        showInStore="0"
                        canRestore="1">
                    <label>Keep error reports for up to this many days</label>
                    <comment><![CDATA[Use <code>0</code> (zero) to keep errors forever]]></comment>
                    <validate>integer no-whitespace required-entry validate-zero-or-greater</validate>
                </field>
            </group>
        </section>
    </system>
</config>
